<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Installation OK</title>
    </head>
    <body>
        <h1>{{ name }}</h1>
        <hr/>
        {% for product in products %}
            <h3>{{ product.name }}</h3>
            <h5>{{ product.description }}</h5>
            <b>Prices</b>
            <ul>
            {% for price in product.prices %}
                <li>{{ price.price }} <i>({{ price.date }})</i>
            {% endfor %}
            </ul>
            <hr/>
        {% endfor %}
    </body>
</html>

